{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de Destinos </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
  </head>
  <body  style="background-image:url(/static/images/contacto.jpg) ">
    
<center>

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"><a href="index.html">DIEGO</a></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><a href="contact.html">Contact</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="news.html">News</a></li>
									<li><a href="index.html">Home</a></li>
								</ul>
							</nav>
							<div class="header_phone ml-auto">Call us: 973 273 019</div>

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		
	</header>

	
<br><br><br><br><br><br><br>
<h1>CONTÁCTANOS</h1>
<br><br><br><br><br>
<h3>Horario de atencion:  8:00am - 8:00 m (L-S) </h3>
<h3>Llamada y whatsapp : 919036811</h3>
<h3>Correo: LibreriaDiego@hotmail.com</h3>
</center>
</body>

</body>
</html>