<!DOCTYPE html>
<html>
    <head>
        <center>
        <br><br><br><br>
        <H1>REGISTRAR DESTINO</H1>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>USUARIOS</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type='text/css' href="main.css">
        <script src="main.js"></script>
    </head>
    <body bgcolor="cyan">
        {% block content %}
        {% endblock %}
        <h1>_____________________________________</h1>
        <form action="register" method="post">
            {% csrf_token %}
            <label for="destino" class="form-label">Destino</label>
            <input type="text" name="name" placeholder="Ingrese el nombre del destino" ><br><br>
            <label for="descripcion" class="form-label">Descripcion:</label>
            <input type="text" name="desc" placeholder="Ingrese descripcion"><br><br>
            <label for="imagen" class="form-label">Imagen:</label>
            <input type="ImageField" name="img" placeholder="Imagen"><br><br>
            <label for="nombre" price="form-label">Price:</label>
            <input type="Integer" name="price" placeholder="Price"><br><br>
            <label for="offer" price="form-label">Offer:</label>
            <input type="checkbox" name="offer" placeholder="offer"><br><br>
            <input type="submit" value="submit">
        </form>
        <h1>_____________________________________</h1>
        <div>
            {% for message in messages%}
                <h3> {{message}} </h3>
            {% endfor %}
        </div>
        </center>
    </body>
</html>